@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    cursor: url('../img/assets/cursor.png'), auto;
    color: orange;
}

.game   {
    display: none;
}
body {
    height: 100%;
    background-image: url(../img/menu/png_menu3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo_menu{
    margin-top: 20vh;
    text-align: center;
}
.titulo_menu > h1, .titulo_menu > a{
   text-shadow: 10px 10px 10px #000, -10px -10px 10px #000, 10px -10px 10px #000, -10px 10px 10px #000;
   text-decoration: none;
}

.creditos_daniel:hover {
    scale: 1.2;
    transition: 0.8s;
}

h1 {
    font-size: 80px
}
.btt_play_menu {
    margin-top: 5vh;    
    height: 10vh;
    transition: 0.4s;
}

    .btt_play_menu:hover {
       scale: 1.2;
    }

.persons_menu{
    position: absolute;
    display: flex;
    bottom: 0px;
    width: 50%;
    justify-content: space-around;
}

.persons {
    height: 200px;
}


@media only screen and (max-width: 500px){
    h1 {
        font-size: 50px;
    }
}
@media only screen and (max-height: 500px){
.persons{
    height: 100px;
}
.persons_menu{
    width: 80%;
}
}
